section 
  include ./aside.pug
  .fixed-container
    .section-container
      .section-container_book
        img.image(src=require('./img/book1.png'), alt='Books')
        .info-books
          p.authors Kevin Kwan
          h1.title Crazy rich asians
          .ratings-box
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            p.ratings-count 252 review
          p.description the outrageously funny debut novel about three super-rich, pedigreed Chinese families and the gossip...
          p.sale-info.retail-prise $4.99
          button.button-buy buy now
      .section-container_book
        img.image(src=require('./img/book2.png'), alt='Books')
        .info-books
          p.authors Margaret Atwood
          h1.title The handmaid’s tale
          .ratings-box
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            p.ratings-count 1,1M review
          p.description This novel can be interpreted as a double narrative, Offred's tale and the handmaids' tales. The night...
          p.sale-info.retail-prise $6.99
          button.button-buy buy now
      .section-container_book
        img.image(src=require('./img/book3.png'), alt='Books')
        .info-books
          p.authors Aldous Huxley
          h1.title Brave new world
          .ratings-box
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            p.ratings-count 1,3M review
          p.description dystopian novel written in 1931 by English author Aldous Huxley, and published in 1932. Largely set in...
          p.sale-info.retail-prise $12.43
          button.button-buy buy now
      .section-container_book
        img.image(src=require('./img/book4.png'), alt='Books')
        .info-books
          p.authors Tara Westover
          h1.title Educated
          .ratings-box
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            p.ratings-count 364 review
          p.description It is a tale of fierce family loyalty and of the grief that comes with severing the closest of ties. With...
          p.sale-info.retail-prise $12.68
          button.button-buy buy now
      .section-container_book
        img.image(src=require('./img/book5.png'), alt='Books')
        .info-books
          p.authors Marianne Fritz
          h1.title The weight of things
          .ratings-box
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            p.ratings-count 353 review
          p.description You discover not an eccentric fluke of literary nature but rather a brilliant and masterful satiris...
          p.sale-info.retail-prise $18.23
          button.button-buy buy now
      .section-container_book
        img.image(src=require('./img/book6.png'), alt='Books')
        .info-books
          p.authors Chris Power
          h1.title Mothers stories
          .ratings-box
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            img.average-rating(src=require('./img/star.svg'), alt='Star') 
            p.ratings-count 454 review
          p.description the stories in Mothers lay bare the emotional and psychic damage of life, love, and abandonment...
          p.sale-info.retail-prise $12.35
          button.button-buy buy now
      button.books-button_more Load more
  