doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Bookshop')
    title= 'Bookshop'
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&family=Open+Sans&display=swap" rel="stylesheet")
  body
    header.header-container
      a 
        .header-logo(href="#") Bookshop
      button.header-button_drop-down Menu
      ul.header-list
        li
          a.header-list_item(href="#") books
        li
          a.header-list_item(href="#") audiobooks
        li
          a.header-list_item(href="#") Stationery & gifts
        li
          a.header-list_item(href="#") blog
      .header-icons 
        a 
          img.header-icon(href="#")(src=require('./img/user.svg'), alt='User')
        a 
          img.header-icon(href="#")(src=require('./img/search.svg'), alt='Search')
        a 
          .header-basket
            img.header-icon(href="#")(src=require('./img/shopBag.svg'), alt='ShopBag')
            span.header-basket_count
    main     
      .main_slider.main-container_fixed
        img.main_slider-image(src=require('./img/banner1.png'), alt='Design')
        img.main_slider-image(src=require('./img/banner2.png'), alt='Design')
        img.main_slider-image(src=require('./img/banner3.png'), alt='Design')
        .main_slider-dots
          .main_slider-dot
          .main_slider-dot
          .main_slider-dot
        a.main-square_violet(href="#")
          p.main-square_text Change
            br
            | old book
            br
            | on new
          img.main-icon(src=require('./img/arrow.svg'), alt='Arrow')
        a.main-square_pink(href="#")
          p.main-square_text top
            br
            | 100
            br
            | books
            br
            | 2022
          img.main-icon(src=require('./img/arrow.svg'), alt='Arrow')   
      include ./section.pug          